@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --height: 195.3333px;
  --top: 2rem;
}

html {
  font-size: 62.5%;
  font-family: "Nunito", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  > div.container {
    width: 75%;
    height: 65rem;
    display: flex;
    padding: 2.5rem;
    border: 0.2rem solid black;
    gap: 2rem;

    > div.list-items {
      //   background-color: bisque;
      flex-basis: 25%;
      border-right: 0.2rem solid #2b2b2b;
      position: relative;
      transition: 300ms ease-out;

      &::after {
        content: "";
        position: absolute;
        border-right: 0.2rem solid black;
        border-top: 0.2rem solid black;
        width: 2rem;
        height: 2rem;
        background-color: white;
        top: var(--top);
        right: -1.2rem;
        transform: rotate(45deg);
        transition: 300ms ease-out;
      }

      > ul.items {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        gap: 1.5rem;

        > li {
          display: flex;
          padding: 1rem;
          gap: 1.5rem;
          height: 12%;
          > span {
            font-size: 2rem;
          }
          cursor: pointer;

          &:hover {
            color: purple;
          }

          > figure {
            width: 0;
            height: 0;
            > img {
              width: 0;
              height: 0;
            }
          }
        }
      }
    }

    div.display {
      display: flex;
      flex-basis: 75%;
      flex-wrap: wrap;
      padding: 0.5rem;
      gap: 0.1rem;

      > figure {
        // background-color: chocolate;
        flex-grow: 1;
        flex-basis: 30%;
        height: var(--height);
        overflow: hidden;
        > img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
          transition: 300ms;

          &:hover {
            transform: scale(1.2);
            transition: 300ms;
          }
        }
      }
    }
  }
}
